.nav-links{
    color: '#209e2e' !important;
    font-weight: 600;
    padding: 10px 15px!important;
    font-weight: 600;
    letter-spacing: .7px;
}
.nav-links:hover{
    padding: 9px 14px!important;
    border: 1px solid #209e2e;
    background-color: #eefbf2;
    border-radius: 5px;
    color: #209e2e;
}

@media only screen and (max-width: 780px) {
    nav.navbar.navbar-expand-lg.navbar-light.fixed-top {
        left: 0px !important;
        top: 0px !important;
        width: 100% !important;
        border-radius: 0px !important;
    }
    .me-auto.nav-container.navbar-nav {
        text-align: center;
        max-height: 250px  !important;
    }

    div#navbarScroll {
        background-color:#ffffff;
        margin-top: 12px;
        height: 360px;
    }

    div#navbarScroll form.d-flex {
        /* background-color: #903f3f; */
        display: flex;
        flex-direction: column;
    }
    .form_login {
        align-items: center;
        display: flex;
        justify-content: center;
        /* width: 210px; */
        margin: auto;
    }
    .nav-links {
        margin: 3px 40px !important;
    }

 .sign_in{   width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    }
}